{% extends 'PainelAdm.html' %}
{% block content %}

<h2> Atualizar Disposotivo </h2>
<hr>
<div class="col-md-4 col-md-offset-4">
	<form action="" method="POST">
	<div class="form-group">
		<label> Nome Dispositivo</label>
		<input type="text" name="nomeDpt" value="{{dpts.nome_Dpt}}">
	</div>
	<div class="form-group">
	<label> Url da Foto do Dispositivo</label>
	<input type="text" name="UrlFoto" value="{{dpts.URL_Foto_Dpt}}">
	</div>
	<input type="submit" value="Atualizar Dispositivo">
	</form>
	<hr>
</div>
{% endblock %}