{% extends "basedashbord.html" %} 

{% block title %}
Início
{% endblock %}


{% block main_content %}
<h2> Atualizar Dispositivos <code>{{dispositivo.name}}</code></h2>
<hr>
<div class="col-md-4 col-md-offset-4">
      <form action="" method="POST">
	<div class="form-group">
		<label> Nome </label>
		<input type="text" name="nome" value="{{dpts.name}}">
	</div>
	<div class="form-group">
	<label> Tipo de Dispositivo</label>
	<input type="text" name="tipoDpt" value="{{dpts.tipoDispositivo_id}}">
	</div>
	<div class="form-group">
	<label> Topico</label>
	<input type="text" name="topico" value="{{dpts.topico}}">
	</div>
	<input type="submit" value="Atualizar Dispositivo">
	</form>  
  </div>       
{% endblock %}