<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SisSens - Sistema de Gerenciamento de Sensores </title>

    <!-- Bootstrap core CSS -->
    <link href=".././static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href=".././static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=".././static/css/coming-soon.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="overlay"></div>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">SisSens</h1>
              <p class="mb-5">O SisSens(Sistema de Gerenciamento de Sensores), é um sistema de monitoramento web que facilita e permite maior controle dos equipamentos de um usuário. </p>
              <form action="" method="POST">
              <div class="input-group input-group-newsletter">
                <input type="email" class="form-control" placeholder="Insira seu email..." aria-label="Enter email..." aria-describedby="basic-addon" name="email">
                <div class="input-group-append">
                </div>
              </div>
              <div class="input-group input-group-newsletter" action="" method="POST">
                <input type="password" class="form-control" placeholder="Insira sua senha..." aria-label="Enter email..." aria-describedby="basic-addon" style="margin-top: 0.5em" name="senha">
                <div class="input-group-append"></div>
                <div style="margin-left: 19.8em; margin-top: 0.5em"> <button class="btn btn-secondary" type="submit">Entrar</button> </div>
              </div>
            </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="{{ url_for('sobre') }}">
            <i class="fa fa fa-question"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src=".././static/vendor/jquery/jquery.min.js"></script>
    <script src=".././static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src=".././static/vendor/vide/jquery.vide.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src=".././static/js/coming-soon.min.js"></script>

  </body>

</html>
