
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SisSens - Sistema de Gerenciamento de Sensores </title>

    <!-- Bootstrap core CSS -->
     <link href=".././static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href=".././static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=".././static/css/coming-soon.min.css" rel="stylesheet">


  </head>

  <body>
 
    <div class="overlay">
      
            <p class="text-white" style="margin-left: 40em; margin-top: 15em; font-size: 20px">Equipe:<br/> Henrique Spencer Albuquerque(Desenvolvedor)<br/>
            Jessica Karoline de Lima Silva(Desenvolvedor)<br/>
            João Pedro dos Santos Alves(Desenvolvedor)<br/>
          Pedro Baesse Alves Pereira(Orientador)<br/><br/> IFRN Ceará-Mirim 
            </p>
    </div>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white">
              <a href="{{ url_for('index') }}"><h1 class="mb-6">SisSens</h1></a><h3 > O sistema que você precisa ter em sua empresa/residência.</h3><br/><br/>
              <p class="mb-6">SisSens é um cliete mqtt criado em python com o framework flask, visando a automação de aparelhos eletrônicos, conectando-os à internet, permitindo que o usuário interaja de forma mais prática com os equipamentos de sua residência e/ou empresa.</p>
              </div>
              </div>
            </div>
          </div> 
        </div>

    <!-- Bootstrap core JavaScript -->
    <script src=".././static/vendor/jquery/jquery.min.js"></script>
    <script src=".././static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src=".././static/vendor/vide/jquery.vide.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src=".././static/js/coming-soon.min.js"></script>

  </body>

</html>
