{% extends 'PainelAdm.html' %}
{% block content %}

<h2> Atualizar Tipo de Disposotivo</h2>
<hr>
<div class="col-md-4 col-md-offset-4">
	<form action="" method="POST">
	<div class="form-group">
		<label> Nome do Tipo de Dispositivo</label>
		<input type="text" name="nomeTdp" value="{{tipoDptss.nome_Tipo_Dpt}}">
	</div>
	<div class="form-group">
	<label> Descrição</label>
	<input type="text" name="descricao" value="{{tipoDptss.descricao}}">
	</div>
	<div class="form-group">
	<label> Topicos</label>
	<input type="text" name="topicos" value="{{tipoDptss.topicos}}">
	</div>
	<input type="submit" value="Atualizar Tipo de Dispositivo">
	</form>
	<hr>
</div>
{% endblock %}