<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body  style="background: rgb(47,79,79); color: black">

<div class="col-xs-6 col-sm-3 placeholder">

<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
<div style="margin-left: 13em; margin-top: -8em; font-family: Arial; font-weight (bold, bolder, lighter, normal, 100 900) ">
					
					<p> Id : {{dpts.id_Dpt}} </p>
                  	<p> Nome : {{dpts.nome_Dpt}} </p>
                  <p>Tipo de Dispositivo : {{dpts.tipo_dpt_Id}} </p>


        <center> <h1> Hstórico do Dispositivo </h1> </center>
</div>
</div>
</body>
</html>