<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body  style="background: rgb(47,79,79); color: black">

<div class="col-xs-6 col-sm-3 placeholder">

<img src="https://icon-icons.com/icons2/632/PNG/512/responsive-devices_icon-icons.com_58003.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail" style="background: white">
<div style="margin-left: 13em; margin-top: -10em; font-family: Arial; font-weight (bold, bolder, lighter, normal, 100 900) ">
					
					<p> Id : {{dpts.id_Dpt}} </p>
                  	<p> Nome : {{dpts.nome_Dpt}} </p>
                  <p>Tipo de Dispositivo : {{dpts.tipo_dpt_Id}} </p>
                  <p> 
                  Status: 
				 <input type="radio" name="perfil" value="Adm">On
				  <input type="radio" name="perfil" value="Adm">Off
                   </p>


        <center> <h1> Hstórico do Dispositivo </h1> </center>
</div>
</div>
</body>
</html>